.first{
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
}

p{
    display: inline-block;
}

.from{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    width: 200px;
    box-shadow: #d11bff42 0 15px 40px -5px;
}

input{
    width: 140px;
    display: inline-block;
    padding: 4px;
}

button{

    border: none;
    color: white;
    background-color: black;
    padding: 5px 18px 5px 18px;
    border-radius: 6px;
}